@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


.home {
    max-width: 1530px;
    margin: 0 auto;
    background: #FFFFFF;
}

.home .head {
    background: url(../img/background\ \(2\).png);
    height: 612px;
}

.home .head .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
}

.home .head .navbar .groupmenu a {
    margin: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #353535;
}

.home .head .navbar .rightmenu a {
    margin: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #353535;
}

.home .head .center h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #353535;
    margin-top: 100px;
}

.home .head .center p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #353535;
    margin-top: 16px;
}

.home .head .center .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 160px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
}

.home .head .center .box .first {
    margin-left: 24px;
    padding-bottom: 10px;
}

.home .head .center .box .first p {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #6C7584;
}

.home .head .center .box .first h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #353535;
}

.home .head .center .box .line {
    border-top: 1px solid #D9DFEC;
}

.home .head .center .box .rasm img {
    width: 30px;
}

.home .head .center .box .btn {
    display: flex;
    align-items: center;
    background: #E12020;
    border-radius: 8px;
    border: none;
    padding: 22px 21px;
    margin: 8px;
}

.home .head .center .box .btn p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 15px;
    margin-top: 5px;
}

.home .blok {
    background: #ffffff;
}

.home .blok h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}

.home .blok p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #353535;
    margin-top: 16px;
}

.home .blok .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.home .blok .items .item {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(163, 194, 217, 0.3);
    border-radius: 8px;
}

.home .blok .items .item .btn2 {
    background: #E12020;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 5px;
}

.home .blok .items .item .btn2 p {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.home .blok .items .item img {
    margin-top: 8px;
    margin-left: 62px;
    margin-right: 62px;
    /* margin-bottom: 108px; */
}

.home .blok .items .item h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #353535;
    margin-top: 16px;
}

.home .blok .items .item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #353535;
    margin: 16px;
}

.home .popular .box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .popular .box h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-left: 8px;
    margin-right: 8px;
}

.home .popular p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #353535;
    margin-top: 16px;
}

.groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.groups .part1 {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(163, 194, 217, 0.3);
    border-radius: 8px;
}

.groups .part1 .organic {
    background: #FFB526;
    opacity: 0.2;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}